li {
	float: left;
    text-align: center;
    list-style: none;
    list-style-type: none;
}

hr {
	clear: left;
	border: 0px;
	border-top: 2px solid #AAA;
}

h2 {
	float: right;
	padding-top: 5px;
	padding-right: 2%;
	vertical-align: middle;
}

@media only screen and (max-width: 550px) {
  .menuItem {
  	margin: 2px !important;
  	padding: 5px !important;
  }
  ul {
  	padding-left: 3px !important;
  }
}

@media only screen and (max-width: 700px) {
  .title-name {
  	display: none;
  }
}