li {
	float: left;
    text-align: center;
    list-style: none;
    list-style-type: none;
}

hr {
	clear: left;
	border: 0px;
	border-top: 2px solid #AAA;
}

h2 {
	float: right;
	padding-top: 5px;
	padding-right: 2%;
	vertical-align: middle;
}